@model Models.EntityFramework.LOAIAO

@{
    ViewBag.Title = "Loại áo - Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <div class="page-header">
        <h1>Xem chi tiết loại áo</h1>
    </div>
}

<div>
    <h4>LOAIAO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loaiao1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiao1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metatitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metatitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sapxep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sapxep)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
